{% set base = base | default(value="example") %}
{% set dir  = dir  | default(value="") %}
{% set ext  = ext  | default(value="sevgi") %}

{# Build file paths with optional directory #}
{% if dir %}
  {% set ruby_file = dir ~ "/" ~ base ~ "." ~ ext %}
  {% set svg_file = dir ~ "/" ~ base ~ ".svg" %}
{% else %}
  {% set ruby_file = base ~ "." ~ ext %}
  {% set svg_file = base ~ ".svg" %}
{% endif %}

{% set ruby_content = load_data(path=ruby_file) %}
{% set svg_content = load_data(path=svg_file) %}

<div class="tabs" data-tab-base="{{ base }}">
  <input class="input" name="tabs-{{ base }}" type="radio" id="tab-{{ base }}-1" checked="checked"/>
  <label class="label" for="tab-{{ base }}-1" title="SVG Output"><i class="fa-solid fa-image"></i></label>
  <div class="panel svg-panel">
    {{ svg_content | safe }}
  </div>

  <input class="input" name="tabs-{{ base }}" type="radio" id="tab-{{ base }}-2"/>
  <label class="label" for="tab-{{ base }}-2" title="Ruby Code"><i class="fa-solid fa-gem"></i></label>
  <div class="panel code-panel ruby-panel">
{{ "```ruby
" ~ ruby_content ~ "
```" | markdown | safe }}
  </div>
  
  <input class="input" name="tabs-{{ base }}" type="radio" id="tab-{{ base }}-3"/>
  <label class="label" for="tab-{{ base }}-3" title="SVG Code"><i class="fa-solid fa-code"></i></label>
  <div class="panel code-panel svg-code-panel">
{{ "```svg
" ~ svg_content ~ "
```" | markdown | safe }}
  </div> 
</div>
